<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_NET.Properties.Settings.QLNETConnectionString"
            connectionString="Data Source=HUYNEE\SQLEXPRESS;Initial Catalog=QLNET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_NET.Properties.Settings.QLNETConnectionString1"
            connectionString="Data Source=HUYNEE;Initial Catalog=QLNET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>